In [84]:
import pandas as pd
import json
from pandas.io.json import json_normalize

In [85]:
with open('/home/chamath/Academics/Information Retrieval/scrapy/sinhala_lyrics/songlyrics/songlyrics/lyricsstatsnew.json', 'r') as f:
    data_stats = json.load(f)

In [86]:
stats = pd.DataFrame(data_stats)

In [88]:
stats.shape

(376, 6)

In [89]:
with open('/home/chamath/Academics/Information Retrieval/scrapy/sinhala_lyrics/songlyrics/songlyrics/lyricsunicodenew.json', 'r') as f:
    data_lyrics = json.load(f)

In [90]:
lyrics = pd.DataFrame(data_lyrics)

In [91]:
lyrics.head()

,artist,lyrics,title
0,Samitha Mudunkotuwa,"[ඉර පායා.. ඉර පායා, \r\nකළුවර හදකට අවපස සඳකට ,...",Ira Paaya Ira Paaya
1,Somathilaka Jayamaha,"[පියමන් කෙරුවෙමු මහවේ මැද්දෙන්, \r\nපෙම් බස් ද...",Piyaman Keruwemu Maha Wel Madden
2,Edward Jayakody,"[මාලතී වසන්තේ, \r\nමාරුතේ සැලෙන්නේ, \r\nමේ පහන...",Malathi Wasanthe Maruthe Salenne
3,H R Jothipala,"[ඇහෙනවනම් හිත හඬන තරම් , \r\nකිසිවෙකු නෑ ලොව හ...",Ahenawanam Sitha Hadana Tharam
4,Dimanka Wellalage,"[මා මේ තරම් හඬවලා හීන අහුරා තියා, \r\nතව හිතක්...",Ma Me Tharam Handawala

In [92]:
lyrics.shape

(450, 3)

In [93]:
idl = lyrics["title"]
lyrics[idl.isin(idl[idl.duplicated()])]

,artist,lyrics,title
409,Susil Fernando,"[ලස්සන අඹ ගසක් සොයාලා, \r\nලස්සන කූඩුවක් සදාලා...",Lassana Amba Gasak Soyala
416,M S Fernando,"[ලස්සන අඹ ගසක් සොයාලා, \r\nලස්සන කූඩුවක් සදාලා...",Lassana Amba Gasak Soyala

In [94]:
lyrics = lyrics.drop(409)

In [95]:
idl = lyrics["title"]
lyrics[idl.isin(idl[idl.duplicated()])]

Empty DataFrame
Columns: [artist, lyrics, title]
Index: []

In [96]:
lyrics.shape

(449, 3)

In [97]:
ids = stats["title_en"]
stats[ids.isin(ids[ids.duplicated()])]

,artist_en,date,downloads,plays,size,title_en
182,Viraj Perera,2012-07-09,"416,230","5,436",1.65 MB,Hemin Sare
223,Kushani Sandarekha,2015-09-10,"3,548",347,1.82 MB,Hemin Sare
340,Susil Fernando,2015-05-17,"2,224",323,1.44 MB,Lassana Amba Gasak Soyala
343,M S Fernando,2015-05-17,"15,423",963,1.32 MB,Lassana Amba Gasak Soyala

In [98]:
stats = stats.drop([223,340])

In [99]:
ids = stats["title_en"]
stats[ids.isin(ids[ids.duplicated()])]

Empty DataFrame
Columns: [artist_en, date, downloads, plays, size, title_en]
Index: []

In [100]:
stats.shape

(374, 6)

In [101]:
lyrics.rename({'title': 'title_en', 'artist':'artist_en'}, axis=1, inplace=True)

In [102]:
stats.head()

,artist_en,date,downloads,plays,size,title_en
0,H R Jothipala,2011-08-15,"147,831","4,310",3.52 MB,Ahenawanam Sitha Hadana Tharam
1,Red,2015-04-29,"133,010","2,931",1.27 MB,Raja Malige Paraviya Wage
2,Amarasiri Peiris,2015-04-15,"6,440",561,1.37 MB,Rathu Rosa Mal Yaye
3,Namal Udugama,2011-06-27,"78,870","3,598",3.45 MB,Samuganne Na Wenwanne Na
4,Victor Rathnayaka & Nirmala Ranathunga,2011-09-15,"17,520","1,876",3.48 MB,Amba Gas Yata Mal Halila

In [103]:
lyrics.head()

,artist_en,lyrics,title_en
0,Samitha Mudunkotuwa,"[ඉර පායා.. ඉර පායා, \r\nකළුවර හදකට අවපස සඳකට ,...",Ira Paaya Ira Paaya
1,Somathilaka Jayamaha,"[පියමන් කෙරුවෙමු මහවේ මැද්දෙන්, \r\nපෙම් බස් ද...",Piyaman Keruwemu Maha Wel Madden
2,Edward Jayakody,"[මාලතී වසන්තේ, \r\nමාරුතේ සැලෙන්නේ, \r\nමේ පහන...",Malathi Wasanthe Maruthe Salenne
3,H R Jothipala,"[ඇහෙනවනම් හිත හඬන තරම් , \r\nකිසිවෙකු නෑ ලොව හ...",Ahenawanam Sitha Hadana Tharam
4,Dimanka Wellalage,"[මා මේ තරම් හඬවලා හීන අහුරා තියා, \r\nතව හිතක්...",Ma Me Tharam Handawala

In [107]:
# stats = stats.set_index('title_en')
# lyrics = lyrics.set_index('title_en')

In [108]:
mergedStuff = pd.merge(stats, lyrics, on=['title_en'], how='inner')
mergedStuff.head()

,artist_en_x,date,downloads,plays,size,title_en,artist_en_y,lyrics
0,H R Jothipala,2011-08-15,"147,831","4,310",3.52 MB,Ahenawanam Sitha Hadana Tharam,H R Jothipala,"[ඇහෙනවනම් හිත හඬන තරම් , \r\nකිසිවෙකු නෑ ලොව හ..."
1,Red,2015-04-29,"133,010","2,931",1.27 MB,Raja Malige Paraviya Wage,Red,"[රාජ මාළිඟේ පරවියා වගේ, \r\nජීවිතේ මගේ මම ගෙවන..."
2,Amarasiri Peiris,2015-04-15,"6,440",561,1.37 MB,Rathu Rosa Mal Yaye,Amarasiri Peiris,"[රතු රෝස මල් යායේ, \r\nමුදු සීත පිනි වෑහේ, \r\..."
3,Victor Rathnayaka & Nirmala Ranathunga,2011-09-15,"17,520","1,876",3.48 MB,Amba Gas Yata Mal Halila,Victor Rathnayaka,"[අඹ ගස් යට මල් හැලිලා , \r\nසුවඳේ බැරුවා ඉඳින්..."
4,Victor Rathnayake,2016-04-07,"15,785","1,358",1.59 MB,Me Sira Geya Bindinu Manawi,Victor Rathnayaka,"[මේ සිරගෙය බිඳිනු මැනවි , \r\nඔබ මා සිරකර තැබූ..."

In [109]:
mergedStuff.shape

(180, 8)